<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Reset password
    link(rel='stylesheet', href='/static/css/form.css')
body
    h1 Reset password
    form(action="/user/forgot/"+id+"/"+token, method="post")
        p New password:
        input(type="password", name="newPasswordFirst")
        br
        input(type="password", name="newPasswordSecond")
        br
        input(type="submit", name="submit")
