body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 30px;
}

input {
  margin-bottom: 20px;
  padding: 5px 10px;
}

input[type="submit"] {
  background: #42a5f5;
  border: 0;
  border-radius: 3px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
}
input[type="submit"]:hover {
  background: #2196f3;
}
